{% extends 'main.html.twig' %}

{% block title %}
  <a class="section" href="/" rel="home">Repertory</a>
  <div class="divider"> / </div>
  <div class="section active">Dashboard</div>
{% endblock %}

{% block body %}
<div class="ui padded segment">
Welcome!
</div>
{% endblock %}